*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.cardone{
    width: 100%;
}
.cardone img{
    width: 100%;
}
.cardtwo{
    width: 100%;
    padding: 1rem;
    border: 2px solid black;


    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cardtwo h1{
    font-size: 1.5rem;
}
.cardtwo h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;

    color: grey;
}
.cardtwo a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px 10px;
}