*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.one{
    background-color:blanchedalmond;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two image{
   width: 100%;
}

.three{
background-color: lightskyblue;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.one :nth-child(2){
    margin: 1px 10px;
}